/*
* @Author: 1
* @Date:   2017-10-17 16:30:39
* @Last Modified by:   1
* @Last Modified time: 2017-10-24 23:16:50
*/
.top{
	width: 100%;
	height: 120px;
	display: block;
	background-image: url('../img/cms_15081560158371_dLfRw.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.nav{
	width: 100%;
	height: 40px;
	background: #333;
	padding-left: 145px;
	padding-right: 145px;
}
.nav-left{
	width: 775px;
	height: 100%;
	float: left;
	padding-top:13px ;
	padding-bottom:13px ;
}
.nav-right{
	width: 180px;
	height: 100%;
	float: right;
	padding-top:13px ;
	padding-bottom:13px ;
}
.gwc{
	width: 120px;
	height: 100%;
	float: right;
	background: #424242;
	font-size: 12px;
	color: #b0b0b0;
	text-align: center;
	line-height: 40px;
}
.nav-item{
	height: 14px;
	font-size: 12px;
	line-height: 14px;
	border-right: 1px solid #424242;
	float: left;
	padding-right:7px;
	padding-left: 7px;
}
.nav-item>a{
	color: #b0b0b0;
}
.nav-left>div:first-child{
	padding-left: 0;
}
.nav-left>div:last-child{
	padding-right: 0;
	border-right: 0;
}
.nav-item>a:hover{
	color: #fff;
}
.nav-right>div:last-child{
	padding-right: 0;
	border-right: 0;
	
}
.gwc:hover{
	background: #fff;
	cursor: pointer;
	color: #ff6700;
}
.mi{
	width: 100%;
	height: 100px;
	background: #fff;
	padding-right: 145px;
	padding-left: 145px;

}
.xiaomi{
	width: 55px;
	height: 55px;
	float: left;
	padding-top: 22px;
	padding-bottom: 23px;
}
.hezi{
	width: 680px;
	height: 80px;
	float: left;
	margin-left: 175px;

}
.zi{
	font-size: 16px;
	float: left;
	line-height: 100px;
	padding-left: 10px;
	padding-right: 10px;	
	text-align: center;
}
.zi>a{
	color: #333;
}
.zi>a:hover{
	color: #fa6700;
}
.sousuo{
	width: 280px;
	height: 50px;
	border: 1px solid #e0e0e0;
	float: right;
	margin-top: 25px;
}
.sousuo:hover{
	border: 1px solid #ccc;
}
.sousuo>div{
	float: left;
}
.soleft{
	width: 223px;
	height: 100%;
	border-right: 1px solid #e0e0e0;
	cursor: pointer;
	float: left;
	padding-top: 19px;
	
}
.soleft:hover{
	border-right: 1px solid #ccc;
}
.soright{
	font-size: 24px;
	width: 55px;
	height: 100%;
	line-height: 40px;
	text-align: center;
	color: #616161;
	cursor: pointer;
	
}
.soleft>span{
	background: #eee;
	float: left;
	font-size: 12px;
	color: #757575;
	height: 16px;
	padding: 0 4px;
	line-height: 15px;
	margin-left: 20px;
}

.soleft>span:hover{
	color: #fff;
	background: #fa6700;
}
.soright:hover{
	color: #fff;
	background: #fa6700;
}
.banner{
	width: 100%;
	height: 460px;
	padding: 0 145px;	
}
.bannerleft{
	width: 234px;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	float: left;
	padding-top: 20px;
	position: absolute;
	top: 0;
	left: 0;


}
.bannerleft>li{
	width: 100%;
	height: 42px;
	line-height: 42px;
	text-align: left;
	font-size: 14px;
	padding-left: 30px;
	cursor: pointer;
	color: #fff;
}
.bannerleft>li>a>i{
	float: right;
	padding-right: 20px;
}
.bannerleft>li:hover{
	color: #fff;
}
.bannerleft>li:hover{
	background: #fa6700;
}
.lunbo{
	width: 100%;
	height: 100%;
	position: relative;
}
.imgbox{
	width: 1226px;
	height: 460px;
	
}
.imgbox>a>img{
	position: absolute;
	top:0;
	left: 0; 
}
.btn{
	width: 40px;
	height: 70px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto ;
	line-height: 70px;
	text-align: center;	
	cursor: pointer;
}
.btn>i{
	font-size: 35px;
	color: #ccc;
}
.lbzuo{
	left: 234px;
}
.lbyou{
	right:0px;
}
.btn:hover{
	background: rgba(0, 0, 0, .5)
}
.lbdian{
	width: 120px;
	height: 10px;
	right: 60px;
	bottom: 30px;
	position: absolute;
}
.lbdian>div{
	width: 10px;
	height: 10px;
    background: rgba(101, 124, 135, .5);
    float: left;
	border-radius:50%;
	margin: 0 5px;
	border: 2px solid #94a4ad;
	background: #757575;
	cursor: pointer;
}
.lbdian>div:hover{
	background: rgba(255,255,255,.5);
	border: 2px solid #6a6a6a;
}
.diyipai{
	width: 100%;
	height: 170px;
	
	margin-top: 14px;
	margin-bottom: 26px;
	padding: 0 145px;
	float: left;
}
.one{
	width: 234px;
	height: 170px;
	background: #5f5750;
	float: left;
	padding: 3px;

}
.dasantu{
	width: 978px;
	height: 100%;
	
	float: left;
	margin-left: 15px;
}
.santu>a{
	width: 316px;
	height: 100%;
	float: left;
	margin-left: 15px;
}
.santu>a:first-child{
	margin-left: 0;
}

.onebox{
	width: 76px;
	height: 82px;
	float: left;
	padding: 0 3px;
	position: relative;

}
.onebox>i{
	display: block;
	width: 100%;
	height: 50px;
	font-size: 24px;
	color: rgba(255, 255, 255,.7);
	text-align: center;
	line-height:60px; 
	cursor: pointer;
}
.onebox>i:hover{
	font-weight: bold;
	color: #F0F0F0;
}
.onebox>p:hover{
	font-weight: bold;
	color: #F0F0F0;
}
.onebox>p{
	font-size: 12px;
	color: rgba(255, 255, 255,.7);
	text-align: center;
	line-height: 12px;
	cursor: pointer;
}
.x1{
	width: 64px;
	height: 1px;
	border-bottom: 1px solid #665e57;
	position: absolute;
	left: 6px;
	bottom: 0;
	display: block;
}
.x2{
	width: 1px;
	height: 70px;
	border-left: 1px solid #665e57;
	position: absolute;
	right: 0;
	top: 6px;
	display: block;
}
.mingxing{
	width: 100%;
	height: 58px;
	padding: 0 145px;
	background: red;
	float: left;
}
.mxz{
	font-size: 22px;
	float: left;
	line-height: 58px;
	color: #333;
}.danpin{
	width: 1226px;
	height: 610px;
	background:#fff;
	margin: 0 auto;
	padding-top: 14px;
}
.danpin-top{
	width: 100%;
	height: 58px;
	background: #fff;
}
.danpin-top-left{
	float: left;
	width: 133px;
	height: 58px;
	line-height: 58px;
	text-align: center;
}
.danpin-top-left h2{
    font-size: 22px;
    color: #333;
    font-weight: 200;
}

.danpin-top-right{
	float: right;
	width: 71px;
	height: 24px;

	margin-top: 20px;
}
.danpin-top-right .xiao1{
	width: 34px;
	height: 24px;
	float: left;
	border: 1px solid #e0e0e0;
	margin-left: 2px;
}

.danpin-top-right .xiao2{
	width: 34px;
	height: 24px;

	float: right;
	border: 1px solid #e0e0e0;
	border-left: none;

}
.danpin-top-right a{
	display: block;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
}
.danpin-top-right a:hover{
	color: #fa6700;
}
.danpkuan{
	width: 1226px;
	height: 340px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.danpin-bottom{
   width: auto;
   height: 340px;
   position: absolute;
   top: 2px;
   left: 0;
   display: flex;
   justify-content: space-between;

}
.danpin-bottom .item{
	width: 234px;
	height: 340px;
	background:  #fafafa;

	margin-right: 14px;
}
.boder1{
	border-top: 1px solid #ffac13;
}
.boder2{
	border-top: 1px solid #83c44e;
}
.boder3{
	border-top: 1px solid #2196f3;
}
.boder4{
	border-top: 1px solid #e53935;
}
.boder5{
	border-top: 1px solid #00c0a5;
}
.item1{
	margin-right:0px;
   
	width: 234px;
	height: 340px;
	background: #fafafa;
}
.item .one-1{
	display: block;
	width: 160px;
	height: 160px;
	margin-left: 36px;
	margin-top: 57px;
}
.item .one-1 img{
	display: block;
	width: 100%;
	height: 100%;

}
.item1 .one-1{
	display: block;
	width: 160px;
	height: 160px;
	margin-left: 36px;
    margin-top: 57px;

}
.item1 .one-1 img{
	display: block;
	width: 100%;
	height: 100%;

}
.danpin-bottom .one-2{
	display: block;
	width: 234px;
	height: 21px;
	text-align: center;
	line-height: 21px;
	font-size: 14px;
	margin-top: 10px;
	color: #212121;
}
.danpin-bottom .n1{
	display: block;
	width: 234px;
	height: 18px;
	text-align: center;
	line-height: 21px;
	font-size: 12px;
}
.danpin-bottom .n2{
	display: block;
	width: 234px;
	height: 18px;
	text-align: center;
	line-height: 21px;
	font-size: 14px;
}
.n1{
	color: #b0b0b0;
}
.n2{
	color: red;
	margin-top: 20px;
}


.zhuti{
	width: 100%;
	height: 2073px; 
	background: #f5f5f5;
}
.suv{

	width: 1226px;
	height: 58px;
	margin: 0 auto;
	padding-top: 51px;
}

.suv-top-left{
	float: left;
	width: 133px;
	height: 58px;
	line-height: 58px;
}
.suv-top-left h2{
    font-size: 22px;
    color: #333;
    font-weight: 200;
}

.suv-top-right{
	float: right;
	width: 288px;
	height: 42px;
	margin-top: 13px;
}
.jiadian li{
	float: left;
	margin-left: 30px;
	line-height: 30px;
}
.jiadian li a{
	color: #424242;
	font-size: 16px;
}
.jiadian li:hover a{
	border-bottom: 2px solid #ff6700;
	color: #ff6700;
}

.jiadiankuang{

	width: 1226px;
	height: 737px;
	margin: 0 auto;
	position: relative;
	
}
.kuangleft{
	
	width: 234px;
	height: 614px;
	
	float: left;
	position: absolute;
	top: 107px;
	left: 0;
	margin: auto;
}
.kuangright{
	width: 978px;
	height: 628px;
	float: right;
}
.kuangright .text{
	width: 234px;
	height: 300px;
	background:  #fff;
	float: left;
	margin-right: 14px;
	margin-bottom: 14px;
	position: relative;
	overflow: hidden;
}
.text1{
	margin-right: 0;
	float: right;
	width: 234px;
	height: 300px;
	background: #fff;
}
.text1 .one-1{
	display: block;
	width: 150px;
	height: 150px;
	margin-left: 36px;
    margin-top: 23px;

}
.text1 .one-1 img{
	display: block;
	width: 100%;
	height: 100%;

}
.text .one-1{
	display: block;
	width: 150px;
	height: 150px;
	margin-left: 36px;
    margin-top: 23px;

}
.text .one-1 img{
	display: block;
	width: 100%;
	height: 100%;

}
.text2{
	margin-right: 0;
	float: right;
	width: 234px;
	height: 300px;
}
.text2-top{
	width: 234px;
	height: 143px;
	background: #fff;
	margin-bottom: 14px;
	position: relative;
}
.text2-top .tl a{
	display: block;
	width: 94px;
	height: 21px;
	margin-top: 44px;
	margin-left: 31px;
	position: absolute;
	top: 0;
	left: 0;
	font-weight: 400;
	font-size: 14px;
}
.text2-top .tl p{
	display: block;
	margin-top: 10px;
	color: #ff6700;
}
.text2-top a{
	display: block;
	width: 80px;
	height: 80px;
	position: absolute;
	top: 32px;
	right: 20px;
	color: #333;
}

.text2-top img{
    display: block;
	width: 100%;
	height: 100%;
}
.text2-bottom{
	width: 234px;
	height: 143px;
	position: relative;
	background: #fff;
}
.text2-bottom .tl a{
	display: block;
	width: 94px;
	height: 21px;
	margin-top: 44px;
	margin-left: 31px;
	position: absolute;
	top: 0;
	left: 0;
	font-weight: 400;
	font-size: 17px;
}
.text2-bottom a{
	display: block;
	width: 80px;
	height: 80px;
	position: absolute;
	top: 32px;
	right: 8px;
	color: #333;
}
.text2-bottom img{
    display: block;
	color: #fa6700;
	font-size: 45px;
	margin-top: 20px;
}
.text2-bottom .tl p{
	display: block;
	margin-top: 10px;
	color: #333;
	font-size: 12px;
}
.kuangright .one-2{
	display: block;
	width: 234px;
	height: 21px;
	text-align: center;
	line-height: 21px;
	font-size: 12px;
	margin-top: 20px;
	color: #212121;
}
.kuangright .n1,.n2{
	display: block;
	width: 234px;
	height: 18px;
	text-align: center;
	line-height: 21px;
	font-size: 10px;
}
.n1{
	color: #b0b0b0;
}
.n2{
	color: red;
	margin-top: 20px;
}
.kuangright s{
	margin-left: 5px;
	color: #ccc;
}
.kuangright .tanchu{
	width: 234px;
	height: 61px;
	position: absolute;
	background: #ff6700;
	padding-top:20px; 
	bottom:-81px;
	left: 0;
	transition: all 0.5s;

}

.tuijian{
	width: 1226px;
	height: 300px;
	margin:0 auto; 
	background: red;
}
.tuijian li{
	width: 234px;
	height: 300px;
	background: yellow;
	float: left;
	margin-right: 14px;

}
.tuijian .over{
	margin-right: 0px;
	float: right;
}
.reping{
	width: 1226px;
	height: 415px;
	margin: 0 auto;
	margin-top: 60px;

}
.reping-list li{
	width: 296px;
	height: 415px;
	float: left;
	background: #fff; 
	margin-right: 14px;	
}
.reping-list .flow{
	float: right ;
	margin-right: 0;
}
.reping-list .reping-1{
	width: 296px;
	height: 220px;	
}
.reping-1 img{
	display: block;
	width: 100%;
	height: 100%;
}
.pj{
	display: block;
	width: 240px;
	height: 72px;
    margin-left: 28px;
    margin-top: 34px;
    font-size: 14px;
    color: #333;
}
.reping .ater{
	display: block;
	width: 240px;
	height: 18px;
	margin-left: 28px;
    margin-top: 15px;
    font-size: 12px;
    color: #b0b0b0;
}
.cop{
	width: 236px;
	height: 22px;
	margin-left: 28px;
}
.cop h3{
	font-weight: 400;
}
.cop-1{

	font-size: 14px;
	color:#757575;
}
.ater-1{
	font-size: 14px;
	color: #ff6700;
}
.ater-2{
	font-size: 14px;
	color:#757575;
}
.neirong{
	width: 1226px;
	height: 415px;
	margin: 0 auto;
	margin-top: 60px;
}
.neirong-list .d2{
	width: 296px;
	height: 415px;
	float: left;
	background: #fff; 
	margin-right: 14px;
	position: relative;
	overflow: hidden;


}
.neirong-list .bset{
	width: 296px;
	height: 415px;
	float: right ;
	margin-right: 0;
	background: #fff; 
	position: relative;
	overflow: hidden;

}
.neirong-list h2{
	display: block;
	width: 296px;
	height: 24px;
	margin-top: 51px;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
}
.neirong-list h4{
	display: block;
	width: 296px;
	height: 25px;
	text-align: center;
	font-weight: 400;
	font-size: 20px;
	margin-top: 26px;
}
.neirong-list .br{
	color: #333;
}
.neirong-list .pj{
	display: block;
    width: 192px;
	height: 34px;
	text-align: center;
	font-size: 12px;
	margin-left: 54px;
	margin-top: 14px;
	color: #b0b0b0;
}
.neirong-list .pj1{
	display: block;
    width: 216px;
	height: 154px;
	text-align: center;
	font-size: 16px;
	margin-left: 45px;
	margin-top: 19px;
	color: #333;
}
.neirong-list .border1{
	border-top: 1px solid #ffac13;
}
.neirong-list .border2{
	border-top: 1px solid #83c44e;
}
.neirong-list .border3{
	border-top: 1px solid #e53935;
}
.neirong-list .bset{
	border-top: 1px solid #2196f3;
}
.neirong-list .hr1{
	color: #ffac13;
}
.neirong-list .hr2{
	color: #83c44e;
}
.neirong-list .hr3{
	color: #e53935;
}
.neirong-list .hr4{
	color: #2196f3;
}
.dj-left{
	width: 20px;
	height: 48px;
	background:#b0b0b0;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	left: -20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.dj-left a{
	font-size: 14px;
	color: #fff;
	/* display: flex;
	justify-content: center;
	align-items: center; */

}
.dj-right{
	width: 20px;
	height: 48px;
	background:#b0b0b0;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	right:-20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.dj-right a{
	font-size: 14px;
	color: #fff;
	/* display: flex;
	justify-content: center;
	align-items: center; */

}
.dian{
	width: 190px;
	height: 25px;
	position: absolute;
	bottom: 15px;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	padding-left: 77px;
	padding-top: 5px;
	cursor: pointer;
}
.dian .d1{
	display: block;
	width: 5px;
	height: 5px;
	background: #ccc;
	float: left;
	border-radius: 50%;
	margin-right: 8px;
	text-align: center;
}
.dian .d1:hover{
	background: #fa7600;

}
.neirong .dj-left:hover{
	background: #ff6700;
}
.neirong .dj-right:hover{
	background: #ff6700;
}

.neirong li:hover .dj-left{
	left: 0;
}
.neirong li:hover .dj-right {
	right: 0;
}
.suva{

	width: 1226px;
	height: 58px;
	margin: 0 auto;
	padding-top: 51px;
}

.suva-top-left{
	float: left;
	width: 133px;
	height: 58px;
	line-height: 58px;
}
.suva-top-left h2{
    font-size: 22px;
    color: #333;
    font-weight: 200;
}

.suva-top-right{
	float: right;
	width: 92px;
	margin-top: 13px;
}
.text-suv{
	width: 65px;
	height: 20px;
	float: left;
}
.text-suv .suva-xx{
	font-size: 16px;
	color: #424242;
}
.text-xuv{
	width: 20px;
	height: 20px;
    float: right ;
}
.text-suv a:hover {
	color: #ff6700;
}
.shiping{
	width: 1226px;
	height: 330px;
	margin: 0 auto;
	margin-top: 60px;
}
.shiping-list li{
	width: 296px;
	height: 285px;
	float: left;
	background: #fff; 
	margin-right: 14px;
	position: relative;

}
.shiping-list .flow{
	float: right ;
	margin-right: 0;

}
.shiping-list .shiping-1{
	width: 296px;
	height: 180px;
	

}
.shiping-1 img{
	display: block;
	width: 100%;
	height: 100%;

}
.bj{
	display: block;
	width: 240px;
	height: 13px;
    margin-left: 28px;
    margin-top: 34px;
    font-size: 14px;
    color: #333;
    text-align: center;

}
.shiping-list .bj:hover{
	color: #ff6700;
}
.shiping .ater{
	display: block;
	width: 240px;
	height: 18px;
	margin-left: 28px;
    margin-top: 15px;
    font-size: 12px;
    color: #b0b0b0;
    text-align: center;
}
.bofang{
	display: block;
	width: 30px;
	height: 30px;
    position: absolute;
    top: 146px;
    left: 24px;
}
.said{
	width: 100%;
	height: 293px;
	background: #fff;
}
.liebiao{
	width: 1226px;
	height: 26px;
	margin: 0 auto;
	border-bottom: 1px solid #e0e0e0;
	padding:27px 0; 
}
.tiem{
	width: 1285px;
	height: 26px;
	
}
.liebiao .side{
	width: 146px;
	height: 28px;
	float: left;
	text-align: center;
	padding: 0px 50px;
	
    border-right:1px solid #e0e0e0;
}
.liebiao .tiem .side1{
	border-right: none;

}
.cpex{
	
	color: #616161;
    display: block;
    width: 159px;
    height: 25px;
}
.cpex:hover{
	color: #ff6700;
}
.lianxi{
	width: 1226px;
	height: 192px;
	margin: 0 auto;
}
.lx-left{
	width: 986px;
	height: 121px;
	float: left;
	margin-top: 29px;
	border-right:1px solid #e0e0e0 ;
}
.lx-left .col-list{
	width: 160px;
	height: 112px;
	float: left;
	font-size: 14px;
}
.lx-left .col-list dt{
	display: block;
	font-size: 16px;
	margin-left: -1px;
	margin-bottom: 18px;
	color: #424242;

}
.col-list dd {
	margin-top:10px; 
	color: #757575;
}
.col-list dd a{
	color: #757575;

}
.col-list a:hover{
	color: #ff6700;
}
.lx-right{
	width: 239px;
	height: 121px;
	margin-top: 29px;
	float: right;
}
.lx-right .phone{
	display: block;
	width: 239px;
	height: 22px;
	font-size: 22px;
	text-align: center;
	color: #ff6700;
	margin-bottom: 5px;

}
.lx-right .dizi{
	text-align: center;
	font-size: 12px;
	margin-top: 15px;
	color: #616161;
}
.lx-right .kf{
	display: block;
	width: 120px;
	height: 30px;
	margin: 0 auto;
	border: 1px solid #ff6700;
	color: #ff6700;
	background: #fff;
	font-size: 12px;
	line-height: 28px;
	text-align: center;
	margin-top: 20px;
}
.lx-right .kf:hover{
	background: #ff6700;
	color: #fff;
}
.jiewei{
	width: 100%;
	height: 138px;
	background: #fafafa;
	padding-top: 30px;
	position: relative;
}
.jwa-top{
	width: 1266px;
	height: 57px;
	margin: 0 auto;
	position: relative;
}
.jw-left{
	width: 817px;
	height: 57px;
}
.jwa-top .tpy{
	width: 57px;
	height: 57px;
    margin-right: 10px;
	float: left;

}
.jwa-top .tpy img{
	display: block;
	width: 100%;
	height: 100%;
}
.jwa-top .wnx{
	width: 851px;
	height: 57px;

}.wnx .sites{
	width: 865px;
	height: 19px;
	font-size: 12px;
}
.wnx .sites a{
	color: #757575;
}
.wnx .sites .ft-text:hover{
	color: #ff6700;
}
.wnx .hz{
	width: 718px;
	height: 36px;
	font-size: 12px;
}
.wnx .hz,a{
	color: #b0b0b0;
}
.wnx .hz a:hover{
	color: #ff7600;
}
.jw-right{
	width: 340px;
	height: 28px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	right: 0;
}
.jw-right a{
	display: block;
	width: 84px;
	height: 28px;
	float: left;
}
.jw-right a img{
	display: block;
	width: 100%;
	height: 100%;
}
.jw-bottom{
	width: 267px;
	height: 19px;
	position: absolute;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	bottom: 52px;
	text-align: center;
	font-size: 18px;
	color: #d2d2d2;
}





